ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1
country=US

network={
  ssid="3dv1g"
  psk="speedythedog299"
  key_mgmt=WPA-PSK
  priority=9
}

network={
  ssid="3dv"
  psk="speedythedog299"
  key_mgmt=WPA-PSK
  priority=3
}
